
<div class="jumbotron" *ngIf="router.url === '/listProject'">
  <h1>PROJECTS</h1>
  <div class="card" *ngFor="let project of projects | async" (click)="projectDetail(project)">
    <div class="card-header">
      <h1>{{project.title}}</h1><br>
    </div>
    <div class="card-body">
      <h3>{{project.category}}</h3><br>
      <h3>{{project.budget}}</h3>
    </div>
  </div>
</div>

<div class="card" *ngIf="router.url === '/admin'">
  <div class="card-header">
    <h1>PROJECTS</h1>
  </div>
  <div class="card-body" *ngFor="let project of projects | async">
    <h4>{{project.title}}</h4>
  </div>
</div>
