<!-- displays on /listProject route, needs container -->
<div class="container">
  <div class="jumbotron" *ngIf="router.url === '/listProject'">
    <h1>PROJECTS</h1>
    <div class="card" *ngFor="let project of projects | async" (click)="projectDetail(project)">
      <div class="card-header">
        <h1>{{project.title}}</h1><br>
      </div>
    </div>
  </div>
</div>

<!-- displays on /admin, does not need container -->
<div class="card" *ngIf="router.url === '/admin'">
  <div class="card-header">
    <h1>PROJECTS</h1>
  </div>
  <div class="card-body" *ngFor="let project of projects | async">
    <h3>{{project.title}}</h3>
    <h3>{{project.category}}</h3>
    <h3>{{project.description}}</h3>
    <h3>{{project.budget}}</h3>
    <span><button (click)="edit()">EDIT</button><button (click)="delete(project)">DELETE</button></span>
    <div *ngIf="editProject">
      <label>EDIT TITLE</label>
      <input [(ngModel)]="project.title">
      <button (click)="editDone(project)">DONE EDITING</button>
    </div>
  </div>
</div>
