<!-- NAVBAR -->
<div class="container">
  <nav class="nav-main">
<!-- nav-visitor -->
    <div class="row" id="nav-visitor">
      <div class="col-sm-4">
        <div class="navbar-header">
          <img class="nav-header-image" src="https://www.upwork.com/static/marketing/ui/master/img/upwork-logo.svg" alt="">
        </div>
        <div id="searchbox-container">
          <input type="text" name="" value="" placeholder="SEARCHBOX" id="searchbox">
        </div>
      </div>
      <div class="col-md-4">
        <!-- white space -->
      </div>
      <div class="col-md-4" >
        <div class="container" id="nav-visitor-item-box">
          <a class="list-items">LOGIN</a>
          <a class="list-items">SIGN UP</a>
          <button class="list-items" type="button" name="button">Post a Job</button>
          <span class="list-items" id="invisible-span"></span>
        </div>
      </div>
    </div>
<!-- nav-list -->
    <div class="container" id="nav-list">
      <span class="list-items">a</span>
      <span class="list-items">a</span>
      <span class="list-items">a</span>
      <span class="list-items">a</span>
      <span class="list-items" id="invisible-span"></span>
    </div>
  </nav>
</div>
<div class="jumbotron">
  <div class="container">

  </div>
  <div class="nav-">

  </div>

</div>


<div style="width: 100%; overflow: hidden;">
    <div style="width: 600px; float: left;"> Left </div>
    <div style="margin-left: 620px;"> Right </div>
</div>
