/* navbar */

.nav-main {
  height: 111px;
}

.nav-header-image {
  height: 68px;
  width: 106px;
  margin: 0;
  float: left;
}

#searchbox-container {
  padding-left: 44px;
  border: none;
  text-align: center;
}

#searchbox {
  height: 42px;
  width: 210px;
  border-width: 1px;
  color: #656565;
  font-size: 13.5px;
  margin-top: 16px;
  text-align: center;
}

#nav-visitor {
  height: 71px;
  width: 1278;
}


#nav-visitor-item-box {
  margin-top: 24px;
  text-align: justify;
}

#nav-list {
  height: 40px;
  width: 1278;
  text-align: justify; /* PARENT: EVENLY DISTRIBUTE HORIZONTAL MENU ITEMS in CONTAINER */
}

.list-items {
  display: inline-block; /* CHILD: EVENLY DISTRIBUTE HORIZONTAL MENU ITEMS */
}

#invisible-span {
  width: 100%; /* INVISIBLE CHILD: EVENLY DISTRIBUTE HORIZONTAL MENU ITEMS */
}


/* jumbotron */

.jumbotron {
  height: 440px;
  background-image: url(//www.upwork.com/static/marketing/adquiro-webpack/images/hero-desktop.5cca0d66eb97.svg);
}
