<div class="container">
  <nav class="nav-main">
<!-- nav-visitor -->
    <div class="row" id="nav-visitor">
      <div class="navbar-header">
        <img class="nav-header-image" src="https://www.upwork.com/static/marketing/ui/master/img/upwork-logo.svg" alt="">
      </div>
      <div class="card">

      </div>
      <input type="text" name="" value="" placeholder="SEARCHBOX" id="searchbox">
      <li>nav-object</li>
      <li>nav-object</li>            <li>nav-object</li>
      <li>nav-object</li>
    </div>
<!-- nav-list -->
    <div class="row">
      <li>nav-object</li>
      <li>nav-object</li>            <li>nav-object</li>
      <li>nav-object</li>
    </div>
  </nav>
</div>
<div class="jumbotron">

</div>


<div style="width: 100%; overflow: hidden;">
    <div style="width: 600px; float: left;"> Left </div>
    <div style="margin-left: 620px;"> Right </div>
</div>
