/* navbar */

.nav-main {
  height: 111px;
}

.nav-header-image {
  height: 68px;
  width: 106px;
  margin: 0;
  float: left;
}

#searchbox-container {
  padding-left: 44px;
  border: none;
  text-align: center;
}

#searchbox {
  height: 42px;
  width: 210px;
  border-width: 1px solid gray;
  color: #656565;
  font-size: 13.5px;
  margin-top: 14px;
  text-align: center;
}

#nav-visitor {
  height: 71px;
  width: 1278;
}

#post-job-button {
  background: none;
  width: 130px;
}

#nav-visitor-item-box {
  margin-top: 24px;
  text-align: justify;
}

#nav-list {
  height: 40px;
  width: 1278;
  text-align: justify; /* PARENT: EVENLY DISTRIBUTE HORIZONTAL MENU ITEMS in CONTAINER */
}

.nav-item {
  display: inline-block; /* CHILD: EVENLY DISTRIBUTE HORIZONTAL MENU ITEMS */
}

#invisible-span {
  width: 100%; /* INVISIBLE CHILD: EVENLY DISTRIBUTE HORIZONTAL MENU ITEMS */
}

#sign-up {
  color: #72D84E;
}


/* jumbotron */

.jumbotron {
  height: 440px;
  background-image: url(//www.upwork.com/static/marketing/adquiro-webpack/images/hero-desktop.5cca0d66eb97.svg);
}

h1 {
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  text-align: center; 
}
