<div class="container">
  <nav class="nav-main">
<!-- logo  -->
    <div class="navbar-header">
      <img class="nav-header-image" src="https://www.upwork.com/static/marketing/ui/master/img/upwork-logo.svg" alt="">
    </div>
<!-- options 1 -->
    <div class="row">
      <li>nav-object</li>
      <li>nav-object</li>            <li>nav-object</li>
      <li>nav-object</li>
    </div>
<!-- options 2 -->
    <div class="row">
      <li>nav-object</li>
      <li>nav-object</li>            <li>nav-object</li>
      <li>nav-object</li>
    </div>
  </nav>
</div>
<div class="jumbotron">

</div>
