/* jumbotron */

.jumbotron {
  height: 440px;
  text-align: center;
  background-image: url(//www.upwork.com/static/marketing/adquiro-webpack/images/hero-desktop.5cca0d66eb97.svg);
  padding: 0;
}

#jumbotron-main {
  height: 363px;
}

#jumbotron-header {
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 0;
  padding-top: 90px;
  padding-bottom: 16.5px;
}

#jumbotron-text {
  font-family: 'Gotham Light' !important;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 0;
  padding-top: 16.5px;
  padding-bottom: 16.5px;
}

#jumbotron-button {
  margin-top: 16.5px;
  padding: 10px;
  width: 161px;
  height: 40px;
  font-family: 'Gotham Medium' !important;
  font-weight: 300px;
  font-size: 13.5px;
  background-color: #37a000;
  border-color: #37a000;
  border-radius: 3px;
  vertical-align: middle;
}

#jumbotron-nav-tabs {
  height: 77px;
}
