<!-- JUMBOTRON -->
<div class="jumbotron">
  <div class="container-fluid" id="jumbotron-main">
    <h1 id="jumbotron-header">How It Works</h1>
    <p id="jumbotron-text">An overview of hiring and freelancing on Upwork.</p>
    <button class="btn btn-primary"type="button" name="button" id="jumbotron-button" routerLink="get-started">Make an API Call</button>
  </div>
</div>
<div id="trusted">
  <div id="trusted-text">TRUSTED BY 5M+ BUSINESSES</div>
</div>

<!-- MAIN -->
<div id="content">
  <div class="row">
    <div class="col-md-6">
      <h2 class="m-b-40  m-t-80">Easily find quality freelancers</h2>
      <p class="text-long m-b-40">
        On Upwork you’ll find a range of top talent, from programmers to designers, writers, customer support reps, and more.
      </p>

      <ul class="text-short m-b-40">
        <li><strong>Start by posting a job.</strong> Tell us about your project and the specific skills required. <a href="https://www.upwork.com/hiring/education/how-to-hire-freelancers/#module_2" target="_blank">Learn how.</a></li>
        <li><strong>Upwork analyzes your needs.</strong> Our search functionality uses data science to highlight freelancers based on their skills, helping you find talent that’s a good match.</li>
        <li><strong>We send you a shortlist of likely candidates.</strong> You can also search our site for talent, and freelancers can view your job and submit proposals too.</li>
      </ul>

      <ul ui-accordion="" class="accordion body-content ng-isolate-scope">
        <li class="item ng-scope" id="faq-1" ui-accordion-item="">
          <h4 class="title">
            <span class="ng-scope">Does Upwork screen freelancers?</span>
          </h4>
          <div class="content text-short" style="max-height: 0px; margin: 0px;">
            <p class="text-short m-b-20">We have several measures in place to ensure Upwork is a fair and reliable marketplace. We use multiple means to verify that freelancers are who they say they are. Information is also displayed that gives you a sense of each person’s skill level. In part, this includes:</p>
            <ul class="text-short m-b-20">
              <li>Authenticating email addresses</li>
              <li>Displaying each freelancer’s Job Success score and feedback on past projects</li>
              <li>Providing results of online skills tests</li>
            </ul>
            <p class="text-short m-b-20">Ultimately, it’s your responsibility to screen prospective freelancers to make sure their skills and experience meet the needs of your project. Custom screening questions can be included in your job post, and Upwork Messages provides chat and video conference tools for interviewing finalists.</p>
          </div>
        </li>
        <li class="item ng-scope" id="faq-2" ui-accordion-item="">
          <h4 class="title">
            <a ng-click="toggle()" ng-href="" ng-transclude="" class="text-short font-gotham-medium" ui-accordion-item-toggle=""><span class="ng-scope">Can Upwork help find freelancers for me?.</span></a>
          </h4>
          <div class="content text-short" style="max-height: 0px; margin: 0px;">
            <p class="text-short">Yes, with our <a href="https://www.upwork.com/pro/" class="font-gotham-medium">Upwork Pro</a> service we handpick pre-vetted talent to meet your specific needs.</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <img src="//www.upwork.com/static/marketing/adquiro-webpack/images/find-CL.eac27d3a9e54.svg">
    </div>
  </div>
</div>
