/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Gotham Medium";
  src: url("./gotham-medium.otf");
}

@font-face {
  font-family: 'Gotham Light';
  src: url('./gotham-light-regular.otf');
}

@media (min-width: 1328px)
.container:not(.container-visitor) {
    width: 1308px;
}
@media (min-width: 1200px) {
.container {
    width: 1170px;
}
}
@media (min-width: 992px)
.container {
    width: 970px;
}
@media (min-width: 768px)
.container {
    width: 750px;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
