/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Gotham Medium";
  src: url("./gotham-medium.otf");
}

@@font-face {
  font-family: 'Gotham Light';
  src: url('./gotham-light-regular.otf');
}

* {
  font-family: 'Gotham Medium';
}
